<% include ../partials/boilerplate.ejs %>
<nav>
  <a class="navBar" href="../">Home</a>
  <a class="navBar" href="../cohorts">Cohorts</a>
  <a class="navBar" href="../instructors">Instructors</a>
  <a class="navBar" href="../students">Students</a>
</nav>
  <h1 class="cohortsIndex">COHORTS</h1>
  <div class="cohortNamesContainer">
  <% for (let cohort of data) { %>
      <p class="cohortNames"><%= cohort.cohort_name %></p>
      <a class="cohortButtonSeeMore seeMoreCohort" href="/cohorts/<%= cohort.cohort_id %>/">See More</a>
  <% } %>
  </div>
    <div class="addCohortContainer">
      <button type="button" class="addCohort">Add</button>
    </div>
  <script src="/js/main.js"></script>
<% include ../partials/end.ejs %>
