<% include ./partials/boilerplate.ejs %>
  <h1>Good Catch!</h1>
  <a class="goToCohorts" href="../cohorts">COHORTS</a>
  <a class="goToInstructors" href="../instructors">INSTRUCTORS</a>
  <a class="goToStudents" href="../students">STUDENTS</a>

<% include ./partials/end.ejs %>
