body{
  background-color: black;
  color: #dedede;
  font-family: "Raleway", sans-serif;
  font-weight: 800px;
  font-size: 30px;
}

/*================ COHORTS ================*/



/*---------------- END ----------------*/


/*================ STUDENTS ================*/



/*---------------- END ----------------*/


/*================ INSTRUCTORS ================*/



/*---------------- END ----------------*/
