<% include ../partials/boilerplate.ejs %>
  <h1 class="studentsSingle">STUDENT</h1>
  <div class="studentSingleContainer">
      <p class="studentSingle"><%= data.name %></p>
      <a href="/students/<%= data.id %>/edit">Edit</a>
  </div>
  <script src="/js/main.js"></script>
<% include ../partials/end.ejs %>
