<% include ../partials/boilerplate.ejs %>
  <h1 class="studentsIndex">STUDENTS</h1>
  <div class="studentNamesContainer">
  <% for (let student of data) { %>
      <p class="studentNames"><%= student.name %></p>
      <a class="studentButtonSeeMore seeMoreStudent" href="/students/<%= student.id %>">See More</a>
  <% } %>
  </div>
    <div class="addStudentContainer">
      <button type="button" class="addStudent">Add</button>
    </div>
  <script src="/js/main.js"></script>
<% include ../partials/end.ejs %>
