<% include ../partials/boilerplate.ejs %>
  <% for (let student of data) { %>
    <div class="student">
      <p><%= student.name %></p>
      <button type="button">Click For Nudes</button>
    </div>
  <% } %>
  <script src="js/main.js">
<% include ../partials/end.ejs %>
