<% include ../partials/boilerplate.ejs %>
  <h1 class="instructorsIndex">INSTRUCTORS</h1>
  <div class="instructorNamesContainer">
  <% for (let instructor of data) { %>
      <p class="instrucotrNames"><%= instructor.name %></p>
      <a class="instructorButtonSeeMore seeMoreInstructor" href="/instructors/<%= instructor.id %>">See More</a>
  <% } %>
  </div>
    <div class="addInstructorContainer">
      <button type="button" class="addInstructor">Add</button>
    </div>
  <script src="/js/main.js"></script>
<% include ../partials/end.ejs %>
