<% include ../partials/boilerplate.ejs %>
  <% for (let instructor of data) { %>
    <div class="instructor">
      <p><%= instructor.name %></p>
      <button type="button">Click For Nudes</button>
    </div>
  <% } %>
  <script src="js/main.js">
<% include ../partials/end.ejs %>js %>
